* {
    box-sizing: border-box;
    font-family: Roboto;
}
body {
    margin: 0px;
    height: 0px;
}
.header {
    padding: 0;
    background-color: #ffffff;
}
.header-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 0px;
    font-weight: 600;
}
.header-logo span {
    margin: 1em;
}
.logo-content {
    padding: 0% 10% 0 10%;
    margin: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 0px;
    width: 80%;
}
.logo-content-img {
    border: 0px;
}
.address-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat" , sans-serif;
    letter-spacing: 0px;
    color:  #008cff;
    text-transform: capitalize;
}
.address-payroll {
    color: #42515f;
}

.form-content {
    min-height: calc(100%-80px);
    background-color: #f7f7f7;
    display: flex;
    margin: auto;
    align-items: center;
    border: 0px;
}
.form {
    width: 65%;
    margin: 0px;
    padding: 0px;
    background: #ffffff 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #f5f5f5;
    border-radius: 10px;
    opacity: 1;
    box-shadow: #d9d9dc 10px 10px 10px 10px;
    overflow: hidden;
}
.form-head {
    font: normal normal bold 24px/37px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    text-transform: capitalize;
    opacity: 1;
    padding-bottom: 0px;
    margin: 0px;
    background: #008cff;
}
.form-head h2 {
    font-size: 1em;
    display: flex;
    justify-content: center;
    margin: 0px;
    padding: 1em;
    font-weight: 400;
    color: white;
}
.form-block {
    margin-bottom: 1em;
}
.row-content {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    align-items: center;
    border: 0px solid green;
}
.lable {
    min-width: 140px;
    padding: 0;
    display: block;
}
.text {
    font-size: 14px;
    font-weight: 400;
    color: #42515f;
    opacity: 1;
    font-family: Roboto;
    display: contents;
}
.text-logo {
    margin-left: 1%;
    font-weight: 800;
}
.input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

.profile-radio-content {
    display: flex;
    flex-direction: row;
}
.profile-radio-content-label {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.profile {
    width: 40px;
    border-radius: 50%;
    margin: 12px;
}
.selectBox {
    display: flex;
    justify-content: space-between;
}
.selectBox select {
    padding: 0;
    border:  1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    font: normal normal normal 16px Roboto;
    letter-spacing: 0px;
    color: #42515f;
    background-color: transparent;
    margin:0;
    width: 30%;
    height: 2em;
}

.button-style {
    color: #333639;
    background: rgb(229, 228, 228);
    font: normal normal normal 20px/26px Roboto;
    margin: 10px;
    border-radius: 10px;
    padding: 8px 16px;
    border: none;
    outline: 1px solid black;
}
.button-style:hover {
    background-color: #0d0e0d;
    color: #ccc;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}